/*******************************************
 * @app         main
 * @section     css-reset
 ******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background-image: none;
}

body {
    line-height: 1;
    color: black;
    background: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* - \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* - */

/*******************************************
 * @app         main
 * @section     css-design
 ******************************************/

body {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a {
    color: #333;
}

.Center {
    text-align: center;
}

#doc > h1 {
    font-size: 30px;
    padding-bottom: 26px;
    margin-bottom: 22px;
    border-bottom: 1px solid #ccc;
}

#doc > h2 {
    font-size: 20px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.doconline h1, h2, h3, h4, h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: bold;
}

.Hidden {
    display: none;
}

#navigation, #footer > ul:first-child, #skipnav {
    display: none;
}

#search {
    display: block;
    height: 70px;
    position: relative;
    margin-top: 20px;
}

#search > div {
    background-color: #eee;
    padding: 12px;
}

#search .searchinput {
    border: 1px solid #ccc;
    padding: 3px 5px 4px 5px;
    font-size: 13px;
    width: 145px;
}

#search .searchsubmit {
    background-color: #B83850;
    color: #fff;
    border: 0px;
    font-size: 12px;
    padding: 3px 10px 4px 10px;
    cursor: pointer;
}

#content {
    position: relative;
}

#wrapper {
    background-color: #fff;
    overflow: hidden;
}

#marginalia_wrapper {
    position: absolute;
    width: 265px;
    left: 20px;
    top: 0px;
}

#marginalia * {
    font-size: 11px;
    color: #fff;
}

#marginalia > li {
    display: block;
    position: relative;
}

#marginalia > li > span.SectionHeader {
    display: block;
    padding: 11px 14px;
    height: 12px;
    color: #285566;
    font-size: 14px;
    margin-top: 15px;
    font-weight: bold;
}

#marginalia > li:first-child > span.SectionHeader {
    margin-top: 0px;
}

#marginalia > li > a.active {
    background-image: none;
    border-bottom: 0px;
}

#marginalia > li > ul {
    background: #A7AAAA;
    border-top: 1px solid #999;
}

#marginalia > li ul li a {
    padding: 7px 11px;
    background: #C4C6C6;
    color: #111;
    font-size: 11px;
    border-bottom: 1px solid #aaa;
    display: block;
    outline: none;
    text-shadow: 0 1px 0 #EAEEEE;
}

#marginalia > li > ul > li > a {
    padding-left: 15px;
}

#marginalia > li > ul > li > ul li a {
    padding-left: 25px;
}

#marginalia > li > ul > li > ul li ul li a {
    padding-left: 35px;
}

#marginalia > li ul li a:hover,
#marginalia > li ul li.Highlight > a,
#marginalia > li ul li a.Active {
    background: #B92D46 !important;
    color: #fff !important;
    text-decoration: none;
    text-shadow: none;
}

#marginalia > li > ul > li > ul a {
    padding-left: 15px;
}

#marginalia > li > ul > li > ul > li > ul a {
    padding-left: 27px;
}

#marginalia ul i {
    margin-right: 5px;
    color: #777;
    font-size: 10px;
}

#marginalia ul a:hover i,
#marginalia ul a.Active i {
    color: #fff;
}

#marginalia > li ul li a:hover,
#marginalia > li ul li a {
    background-color: #ddd;
}

#marginalia a.active + ul {
    display: block;
}

#doc {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 170%;
    margin: 20px 20px 20px 305px;
}

#doc > .navfooter {
    background: #f7f7f7;
}

.no_sidebar #doc {
    margin-left: 20px;
}

#doc.intro {
    overflow: hidden;
}

.list-of-figures,
.list-of-tables,
.list-of-examples {
    margin-top: 10px;
    float: left;
    width: 47%;
    font-size: 12px;
    background-color: #eee;
    padding: 15px;
}

.list-of-tables,
.list-of-examples {
    float: right;
}

.navheader {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.navheader hr {
    display: none;
}

.navheader th {
    font-size: 30px;
}

.navheader table tr:last-child {
    display: none;
}

h1.title {
    font-size: 25px;
    line-height: 170%;
    float: left;
}

.book p.copyright {
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.legalnotice {
    background-color: #eee;
    font-size: 11px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin: 15px 0px;
    clear: both;
}

.legalnotice p {
    display: inline;
}

.toc {
    background-color: #ddd;
    font-size: 13px;
    color: #000;
    line-height: 200%;
    margin: 20px 0px;
}

.section .toc {
    width: 250px;
    float: left;
    margin: 0px 20px 10px 0px;
    background-color: #eee;
    overflow: hidden;
}

.section .toc * {
    font-size: 12px;
    line-height: 160%;
}

.toc > dl {
    margin: 0px 20px;
}

.section .toc > dl {
    margin: 0px 15px 10px 15px;
}

.toc > dl > dt {
    list-style-type: none;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.section .toc > dl > dt {
    list-style-type: none;
    margin-bottom: 0px;
}

.toc dl dl {
    padding: 0px 0px 0px 10px;
}

.toc dd dd {
    margin: 0px 0px 0px 20px;
}

.section .toc dd dd {
    margin: 0px 0px 0px 5px;
}

.toc dd dd dl dt {
    list-style-type: circle;
}

.section .toc dd dd dl dt {
    list-style-type: circle;
}

.section .toc dt {
    list-style-type: disc;
}

.section .toc.closed {
    margin-bottom: 0px;
    float: left;
    margin-right: 15px;
}

.toc p b {
    display: block;
    line-height: 150%;
    background-color: #eee;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}

.section .toc p b {
    background-color: #ddd;
}

.toc p b a {
    float: right;
    background-color: #ccc;
    display: block;
    padding: 0px 7px;
    text-decoration: none;
    font-size: 13px;
}

.toc p b a:hover {
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
}

.toc dl {
    padding: 10px;
}

.section .toc dl {
    padding: 0px;
}

.titlepage hr {
    display: block;
    margin-bottom: 15px;
}

.book p {
    line-height: 175%;
}

.toc a:hover {
    text-decoration: underline;
    color: #000;
}

.toc .toc-hide {
    text-decoration: none !important;
}

.toc dt {
    list-style-type: square;
    display: list-item;
    margin-left: 10px;
}

.navfooter {
    margin-top: 20px;
}

.navfooter hr {
    clear: both;
}

.navfooter table {
    border-collapse: separate;
    border-spacing: 5px;
}

.navfooter table td {
    font-size: 12px;
    width: 33%;
    text-align: center;
}

.navfooter table td a {
    font-weight: bold;
}

.navfooter table td:last-child a:after {
    content: ' >';
}

.navfooter table td:first-child a:before {
    content: '< ';
}

#footer {
    clear: both;
}

#footer .copyright {
    text-align: center;
    line-height: 170%;
    padding: 20px 0px;
    font-size: 11px;
}

.chapter {
    margin-top: 20px;
}

.section p + p {
    text-indent: 10px;
}

.section p {
    color: #222;
}

#doc p a {
    color: #3886ce;
}

.section p a:hover {
    text-decoration: none;
}

#doc > div > .titlepage {
    display: none;
}

.titlepage h2 {
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.titlepage h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 17px 0px 7px 0px;
}

.titlepage h4 {
    font-size: 17px;
    font-weight: bold;
    margin: 15px 0px 7px 0px;
}

.titlepage h5 {
    font-size: 16px;
    margin: 10px 0px 5px 0px;
}

.titlepage h6 {
    font-size: 15px;
    margin: 10px 0px 5px 0px;
}

.warning, .important, .note {
    margin: 15px 0px !important;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 150%;
}

.warning a, .important a, .note a {
    color: #fff !important;
    text-decoration: underline;
}

.warning {
    background-color: #C46060;
    color: #fff;
}

.important {
    background-color: #D8944B;
    color: #fff;
}

.note {
    background-color: #5E98C1;
    color: #fff;
}

.warning h3, .important h3, .note h3 {
    font-weight: bold;
    display: inline;
}

.warning h3:after, .important h3:after, .note h3:after {
    content: ": ";
}

.warning h3+p, .important h3+p, .note h3+p {
    display: inline;
}

.warning p, .important p, .note p {
    color: #fff;
}

pre.screen {
    background-color: #555;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    margin: 10px 0px;
    white-space: pre-wrap;
    line-height: 150%;
}

pre.programlisting {
    background-color: #eee;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 15px;
    font-size: 13px;
    margin: 10px 0px;
    white-space: pre-wrap;
    line-height: 150%;
}

.screenshot {
    margin: 10px 0px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.screenshot img {
    max-width: 100%;
}

.figure .title {
    text-align: center;
}

.emphasis {
    font-style: italic;
}

.itemizedlist {
    list-style-type: square;
    margin: 5px 0px 5px 15px;
}

/* code sections should be marked */
code,
span.command {
    background-color: #eee;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    /*font-weight: bold;*/
}

/* filenames/commands just with a different font, not different color */
code.filename,
span.command {
    color: #000;
    background: none;
}

.warning code.filename,
.important code.filename,
.note code.filename,
.warning span.command,
.important span.command,
.note span.command {
    color: #fff;
}

.sect1 {
    clear: both;
}

.informaltable table {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 12px;
}

.informaltable table td, .informaltable table th {
    padding: 5px;
    background-color: #eee;
    vertical-align: top;
    line-height: 140%;
}

.informaltable table td:first-child, .informaltable table th:first-child {
    width: 130px;
    font-weight: bold;
}

.informaltable table th {
    background-color: #ddd;
}

.informaltable table td pre {
    margin: 0px;
}

.revhistory > table {
    margin-bottom: 20px;
}

.revhistory > table th,
.revhistory > table td {
    border: 1px solid #ccc;
    padding: 5px;
}

#totop {
    position: fixed;
    right: 0px;
    top: 50%;
    background-color: #2B4856;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    height: 13px;
    overflow: hidden;
}

#totop span {
    display: none;
}

#totop:hover {
    width: 110px;
}

#totop:hover span {
    display: block;
    font-size: 13px;
    float: right;
    padding-right: 12px;
}

.orderedlist {
    list-style-type: decimal;
}

.orderedlist > .listitem {
    margin-left: 20px;
}

/*******************************************
 * @section     API docs
 ******************************************/

.api h1.t1 {
    font-size: 30px;
/*
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 15px;
*/
}

.api h2.t2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.api h1.t1 + table {
    display: none;
}

.api .path {
    background: #fff;
    font-size: 16px;
    margin: 20px -30px;
    padding: 10px 30px;
}

.api .path + div {
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
/* source code link */
.api .path + div > a {
    font-size: 18px;
}

.api .pod ul#index {
    margin-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #AAAAAA;
}

.api .pod ul#index ul {
    margin-left: 15px;
}

.api .pod ul#index li {
    font-size: 14px;
}

.api .pod hr {
    border: none;
    border-bottom: 1px solid #AAAAAA;
}

.api .search_highlight {
    background-color: #79c0cb;
}

.api .pod h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.api .pod h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.api .pod h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.api .box {
    margin-bottom: 10px;
}

.api .box table {
    width: 100%;
}

.api .box table td {
/*    border: 1px solid #ccc;*/
    padding: 5px;
}

.api .box table td input {
    display: block;
    padding: 5px;
    width: 98%;
    margin: 0px auto;
}

.api #list .box table tr.s {
    background-color: #EEE;
}

.api a {
    color: #3886ce;
}

.api a:hover {
    text-decoration: underline;
}

.api dt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 5px;
}

.api dd {
    margin-left: 20px;
}

.api pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #DDD;
    background-color: #EEE;
    font-size: 13px;
    line-height: 110%;
    padding: 10px 0px;
}

/* File names in POD (F<...>) */
.api .pod cite {
    font-family: 'Courier New', Courier, monospace;
}

.api .footer {
    display: none;
}

.api .toplink {
    position: relative;
}

.api .toplink img {
    display: none;
}

.api .toplink:after {
    content: "\25B2";
    position: absolute;
    left: 3px;
    top: 6px;
    /* background-color: #ccc; */
    font-size: 10px;
    padding: 2px 2px;
    line-height: 100%;
}

/*******************************************
 * @section     intro page
 ******************************************/

.intro h1 {
    position: relative;
}

.intro h1 span {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 13px;
}

.intro h1 span a {
    display: inline-block;
    background-color: #B93A51;
    color: #fff;
    padding: 3px 10px;
    margin-left: 10px;
}

.intro h1 span a.lightgreen {
    background-color: #69C0CF;
}

.intro h1 span a.darkgreen {
    background-color: #305869;
}

.intro h3 {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}

.intro p a {
    color: #3886ce;
}

.intro p a:hover {
    text-decoration: none;
}

.intro .column {
    width: 48%;
    margin-right: 2%;
    float: left;
}

.intro p {
    margin-bottom: 10px;
}

.intro .PagesList {
    padding-top: 30px;
}

.intro form {
    text-align: center;
    padding-bottom: 20px;
}

.intro form input,
.intro form button {
    font-weight: inherit;
    font-style: inherit;
    font-size: 130%;
    font-family: inherit;
    vertical-align: baseline;
    padding: 0.5em;
}

.intro form input {
    min-width: 300px;
    background: #f7f7f7;
}

/*******************************************
 * @section     start page
 ******************************************/

.PagesList {
    clear: both;
    padding-bottom: 20px;
}

.PagesList li {
    display: inline-block;
    width: 32%;
}

.PagesList li a {
    display: block;
    background-color: #2F5363;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin: 0px 5px;
}

.PagesList li a span {
    display: block;
    font-size: 15px;
    padding: 5px;
}

.PagesList li a span:first-child {
    background-color: #436D7F;
    font-size: 12px;
    width: 66%;
    margin: -10px auto 15px auto;
    padding: 3px;
}

.PagesList li a:hover span:first-child {
    background-color: #B7384F;
}

.variablelist {
    clear: both;
    padding: 5px 0px;
}

.variablelist dt {
    font-weight: bold;
    margin-top: 5px;
    display: list-item;
    list-style-type: square;
    margin-left: 15px;
}

.variablelist dd {
    padding-left: 15px;
}

.table-contents table {
    margin: 10px 0px;
}

.table-contents table td {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
}

.table-contents table thead td {
    border: 0px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.table-contents table tbody tr:nth-child(odd) td {
    background-color: #eee;
}

/* Annoucement teaser */

.github-teaser {
    background: #eee;
    padding: 20px 35px;
    margin: -20px -35px 30px -35px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.github-teaser p {
    margin: 0px;
    padding-left: 35px;
}

.github-teaser p a {
    color: inherit !important;
}

.github-teaser i {
    position: absolute;
    left: 35px;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
}

.github-teaser--important {
    background: #ffd497;
}
