/*******************************************
 * @app         main
 * @section     css-reset
 ******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background-image: none;
}

body {
    line-height: 1;
    color: black;
    background: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* - \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* - */

/*******************************************
 * @app         main
 * @section     css-design
 ******************************************/

body {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #333;
}

.doconline h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
}

.Hidden {
    display: none;
}

#navigation, #footer > ul:first-child, #skipnav {
    display: none;
}

#search {
    display: block;
    height: 70px;
    position: relative;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#search > div {
    background-color: #eee;
    padding: 12px;
}

#search .searchinput {
    border: 1px solid #ccc;
    padding: 3px 5px 4px 5px;
    font-size: 13px;
    width: 145px;
}

#search .searchsubmit {
    background-color: #B83850;
    color: #fff;
    border: 0px;
    font-size: 12px;
    padding: 3px 10px 4px 10px;
    cursor: pointer;
}

#content {
    position: relative;
}

#wrapper {
    background-color: #fff;
    overflow: hidden;
}

#marginalia_wrapper {
    position: absolute;
    width: 250px;
    left: 20px;
    top: 20px;
}

#marginalia {
    background: rgb(47,83,100);
    background: -moz-linear-gradient(top,  rgba(47,83,100,1) 0%, rgba(28,37,44,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,83,100,1)), color-stop(100%,rgba(28,37,44,1)));
    background: -webkit-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: -o-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: -ms-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: linear-gradient(to bottom,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5364', endColorstr='#1c252c',GradientType=0 );
    border-bottom: 1px solid #fff;
    border-top: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#marginalia * {
    font-size: 11px;
    color: #fff;
}

#marginalia > li {
    display: block;
    position: relative;
}

#marginalia > li > a {
    display: block;
    padding: 9px 15px;
    height: 12px;
    border-bottom: 1px solid #476777;
}

#marginalia > li:last-child > a {
    border-bottom: 0px;
}

#marginalia > li > a.active {
    background-image: none;
    border-bottom: 0px;
}

#marginalia > li > ul {
    background: #A7AAAA;
    border-top: 1px solid #999;
}

#marginalia > li ul li a {
    padding: 7px 11px;
    background: #C4C6C6;
    color: #111;
    font-size: 11px;
    border-bottom: 1px solid #aaa;
    display: block;
    outline: none;
    text-shadow: 0 1px 0 #EAEEEE;
}

#marginalia > li > ul > li > a {
    padding-left: 15px;
}

#marginalia > li > ul > li > ul li a {
    padding-left: 25px;
}

#marginalia > li > ul > li > ul li ul li a {
    padding-left: 35px;
}

#marginalia > li ul li a:hover {
    background: #eee !important;
}

#marginalia > li > ul > li > ul a {
    padding-left: 15px;
}

#marginalia > li > ul > li > ul > li > ul a {
    padding-left: 27px;
}

#marginalia ul i {
    margin-right: 5px;
    color: #777;
    font-size: 10px;
}

#marginalia ul a:hover i {
    color: #B93046;
}

#marginalia > li ul li a:hover, #marginalia > li ul li a {
    background-color: #ddd;
}

#marginalia a.active + ul {
    display: block;
}

#doc {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 170%;
    margin-left: 270px;
}

.list-of-tables, .list-of-examples {
    margin-top: 10px;
    float: left;
    width: 47%;
    font-size: 12px;
    background-color: #eee;
    padding: 15px;
}

.list-of-examples {
    float: right;
}

.navheader {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.navheader hr {
    display: none;
}

.navheader th {
    font-size: 30px;
}

.navheader table tr:last-child {
    display: none;
}

h1.title {
    font-size: 25px;
    line-height: 170%;
    float: left;
}

.book p.copyright {
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.legalnotice {
    background-color: #eee;
    font-size: 11px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin: 15px 0px;
    clear: both;
}

.legalnotice p {
    display: inline;
}

.toc {
    background-color: #ddd;
    font-size: 13px;
    color: #000;
    line-height: 200%;
    margin: 20px 0px;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

.section .toc {
    width: 250px;
    float: left;
    margin: 0px 20px 10px 0px;
    background-color: #eee;
}

.section .toc * {
    font-size: 12px;
    line-height: 160%;
}

.toc > dl {
    margin: 0px 20px;
}

.section .toc > dl {
    margin: 0px 15px 10px 15px;
}

.toc > dl > dt {
    list-style-type: none;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.section .toc > dl > dt {
    list-style-type: none;
    margin-bottom: 0px;
}

.toc dl dl {
    padding: 0px 0px 0px 10px;
}

.toc dd dd {
    margin: 0px 0px 0px 20px;
}

.section .toc dd dd {
    margin: 0px 0px 0px 5px;
}

.toc dd dd dl dt {
    list-style-type: circle;
}

.section .toc dd dd dl dt {
    list-style-type: circle;
}

.section .toc dt {
    list-style-type: disc;
}

.section .toc.closed {
    margin-bottom: 0px;
    float: left;
    margin-right: 15px;
}

.toc p b {
    display: block;
    line-height: 150%;
    background-color: #eee;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}

.section .toc p b {
    background-color: #ddd;
}

.toc p b a {
    float: right;
    background-color: #ccc;
    display: block;
    padding: 0px 7px;
    text-decoration: none;
    font-size: 13px;
}

.toc p b a:hover {
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
}

.toc dl {
    padding: 10px;
}

.section .toc dl {
    padding: 0px;
}

.titlepage hr {
    display: block;
    margin-bottom: 15px;
}

.book p {
    line-height: 175%;
}

.toc a:hover {
    text-decoration: underline;
    color: #000;
}

.toc dt {
    list-style-type: square;
    display: list-item;
    margin-left: 10px;
}

.navfooter {
    margin-top: 20px;
}

.navfooter hr {
    clear: both;
}

.navfooter table {
    border-collapse: separate;
    border-spacing: 5px;
}

.navfooter table td {
    background-color: #eee;
    font-size: 12px;
    width: 33%;
    text-align: center;
}

.navfooter table td a {
    font-weight: bold;
}

.navfooter table td:last-child a:after {
    content: ' >';
}

.navfooter table td:first-child a:before {
    content: '< ';
}

#footer {
    clear: both;
}

#footer .copyright {
    text-align: center;
    line-height: 170%;
    padding: 20px 0px;
    font-size: 11px;
}

.chapter {
    margin-top: 20px;
}

.section .titlepage + p {
    text-indent: 10px;
}

.section p {
    color: #444;
}

.section p a {
    color: #000;
    text-decoration: underline;
}

.chapter > .titlepage {
    display: none;
}

.titlepage h2 {
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.titlepage h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.titlepage h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0px 7px 0px;
}

.warning, .important, .note {
    margin: 15px 0px !important;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 150%;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

.warning a, .important a, .note a {
    color: #fff !important;
    text-decoration: underline;
}

.warning {
    background-color: #C46060;
    color: #fff;
}

.important {
    background-color: #D8944B;
    color: #fff;
}

.note {
    background-color: #5E98C1;
    color: #fff;
}

.warning h3, .important h3, .note h3 {
    font-weight: bold;
    display: inline;
}

.warning h3:after, .important h3:after, .note h3:after {
    content: ": ";
}

.warning p, .important p, .note p {
    display: inline;
    color: #fff;
}

pre.screen {
    background-color: #555;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    margin: 10px 0px;
    white-space: word-wrap;
    line-height: 150%;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

pre.programlisting {
    background-color: #ffffe0;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 15px;
    font-size: 13px;
    margin: 10px 0px;
    white-space: word-wrap;
    line-height: 150%;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

.screenshot {
    margin: 10px 0px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

.emphasis {
    font-style: italic;
}

.itemizedlist {
    list-style-type: square;
    margin: 5px 0px 5px 15px;
}

code.filename, code.literal {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

.warning code, .important code, .note code {
    color: #fff;
}

.sect1 {
    clear: both;
}

.informaltable table {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 12px;
    -moz-box-shadow: 2px 2px 5px #777;
    -webkit-box-shadow: 2px 2px 5px #777;
    box-shadow: 2px 2px 5px #777;
    border: 1px solid #aaa;
    border-top: 0px;
    border-left: 0px;
}

.informaltable table td, .informaltable table th {
    padding: 5px;
    background-color: #eee;
    vertical-align: top;
    line-height: 140%;
}

.informaltable table td:first-child, .informaltable table th:first-child {
    width: 130px;
    font-weight: bold;
}

.informaltable table th {
    background-color: #ddd;
}

.informaltable table td pre {
    margin: 0px;
}

#totop {
    position: fixed;
    right: 0px;
    top: 50%;
    background-color: #2B4856;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    height: 13px;
    overflow: hidden;
}

#totop span {
    display: none;
}

#totop:hover {
    width: 110px;
}

#totop:hover span {
    display: block;
    font-size: 13px;
    float: right;
    padding-right: 12px;
}

.orderedlist {
    list-style-type: decimal;
}

.orderedlist > .listitem {
    margin-left: 20px;
}

/*******************************************
 * @section     portal CSS
 ******************************************/

#Navigation {
    height: 23px;
    width: 100%;
    position: relative;
    background: #d3d5d5;
    background: -moz-linear-gradient(top,  #d3d5d5 0%, #c3c5c5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d5d5), color-stop(100%,#c3c5c5));
    background: -webkit-linear-gradient(top,  #d3d5d5 0%,#c3c5c5 100%);
    background: -o-linear-gradient(top,  #d3d5d5 0%,#c3c5c5 100%);
    background: -ms-linear-gradient(top,  #d3d5d5 0%,#c3c5c5 100%);
    background: linear-gradient(to bottom,  #d3d5d5 0%,#c3c5c5 100%);
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #979999;
    clear: both;
}

#Navigation > ul {
    float: left;
}

.RTL #Navigation > ul {
    float: right;
}

#Navigation > ul > li > ul {
    position: absolute;
    top: 24px;
    left: 1px;
    min-width: 140px;
    display: none;
    -webkit-box-shadow: 0 1px 2px #DDD inset, 0 1px 0 #E8E8E8;
    box-shadow: 0 1px 2px #DDD inset, 0 1px 0 #E8E8E8;
    border: 1px solid #bbb;
    border-top: 1px solid #999;
    border-radius: 0px 0px 5px 5px;
}

.RTL #Navigation > ul > li > ul {
    right: 1px;
}

#Navigation > ul > li:hover ul, 
#Navigation > ul > li a:focus + ul,
#Navigation > ul > li ul.Expanded {
    display: block;
    z-index: 1000;
}

#Navigation .Individual {
    float: right;
}

.RTL #Navigation .Individual {
    float: left;
}

#Navigation > ul > li {
    margin-left: -2px;
    float: left;
    position: relative;
}

.RTL #Navigation > ul > li {
    float: right;
    margin: -1px -2px 0 0;
}

#Navigation > ul > li > a {
    padding: 5px 11px;
    color: #111;
    font-size: 11px;
    background: url(../img/controlrow_isolator.png) no-repeat right 2px;
    display: block;
    outline: none;
    text-shadow: 0 1px 0 #EAEEEE;
}

#Navigation > ul > li > ul a, #Navigation > ul > li > ul .Footer {
    color: #222;
    font-size: 11px;
    padding: 4px 6px;
    display: block;
    background-color: #C4C6C6;
    text-shadow: 0 1px 0 #EAEEEE;
    border-top: 1px solid #aaa;
}

#Navigation > ul > li > ul .Footer {
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 0px;
    padding-top: 2px;
    background-color: #aaa;
}

#Navigation > ul > li > ul a:hover, 
#Navigation > ul > li > ul a:focus, 
#Navigation > ul > li > ul a.SubSelected {
    background-color: #ddd;
}

.RTL #Navigation li:first-child a,
#Navigation .Last a {
    background-image: none;
}

#Navigation li:active {
    margin-top: -2px;
    background: #949494;
    background: -moz-linear-gradient(top,  #949494 0%, #c4c4c4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949494), color-stop(100%,#c4c4c4));
    background: -webkit-linear-gradient(top,  #949494 0%,#c4c4c4 100%);
    background: -o-linear-gradient(top,  #949494 0%,#c4c4c4 100%);
    background: -ms-linear-gradient(top,  #949494 0%,#c4c4c4 100%);
    background: linear-gradient(to bottom,  #949494 0%,#c4c4c4 100%);
    border-top: 1px solid #727272;
    border-left: 1px solid #727272;
}

#Navigation .Selected + li {
    margin-left: -1px;
}

#Navigation .Selected + li a {
    padding-left: 10px;
}

#Navigation li:active > a {
    padding-top: 7px;
    padding-bottom: 3px;
    color: #222;
    text-shadow: 0 1px 0 #DADDDD;
}

#Navigation .Selected,
#Navigation .Selected:active {
    margin-top: -1px;
    background: #343435;
    background: -moz-linear-gradient(top,  #343435 0%, #565656 50%, #333333 50%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343435), color-stop(50%,#565656), color-stop(50%,#333333), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top,  #343435 0%,#565656 50%,#333333 50%,#333333 100%);
    background: -o-linear-gradient(top,  #343435 0%,#565656 50%,#333333 50%,#333333 100%);
    background: -ms-linear-gradient(top,  #343435 0%,#565656 50%,#333333 50%,#333333 100%);
    background: linear-gradient(to bottom,  #343435 0%,#565656 50%,#333333 50%,#333333 100%);
    border-bottom: 1px solid #666;
}

#Navigation .Selected:active {
    margin-top: -2px;
}

#Navigation .Selected > a {
    margin-right: -1px;
    padding: 6px 10px 4px 11px;
    color: #FFF;
    background: none;
    text-shadow: 0 -1px 0 #000;
}

.RTL #Navigation .Selected a,
.RTL #Navigation .Selected a:active {
    padding: 6px 11px 4px 10px;
}

#Navigation .Selected a:active {
    padding: 6px 10px 4px 11px;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
}

#Header {
    padding: 21px 34px 18px;
    border-bottom: 1px solid #999;
    background: none;  /* !important */
    background-color: #fff;
    padding: 28px 34px;
    text-shadow: none;
}

#Header h1 {
    margin-left: 135px;
    font-size: 21px;
    font-weight: bold;
    line-height: 67%;
}

#Header h1 a {
    font-size: 20px;
}

#Header #Logo {
    background: url(https://portal.otrs.com/otrs-web/skins/Customer/default/img/logo.png) no-repeat;
    height: 50px;
    position: absolute;
    width: 135px;
    left: 25px;
    right: auto;
    top: 10px;
}

#Navigation {
    display: block;
    background: rgb(47,83,100);
    background: -moz-linear-gradient(top,  rgba(47,83,100,1) 0%, rgba(28,37,44,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,83,100,1)), color-stop(100%,rgba(28,37,44,1)));
    background: -webkit-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: -o-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: -ms-linear-gradient(top,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    background: linear-gradient(to bottom,  rgba(47,83,100,1) 0%,rgba(28,37,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5364', endColorstr='#1c252c',GradientType=0 );
    border-top: 0px;
    border-bottom: 1px solid #fff;
    height: 27px;
}

#Navigation > ul > li {
    padding: 2px 7px;
}

#Navigation > ul > li > a {
    background-image: none;
    color: #fff;
    text-shadow: none;
}

#Navigation .Selected, #Navigation .Selected:active {
    background-image: none;
    border-bottom: 0px;
    background: rgb(28,37,44);
    background: -moz-linear-gradient(top,  rgba(28,37,44,1) 0%, rgba(47,83,100,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,37,44,1)), color-stop(100%,rgba(47,83,100,1)));
    background: -webkit-linear-gradient(top,  rgba(28,37,44,1) 0%,rgba(47,83,100,1) 100%);
    background: -o-linear-gradient(top,  rgba(28,37,44,1) 0%,rgba(47,83,100,1) 100%);
    background: -ms-linear-gradient(top,  rgba(28,37,44,1) 0%,rgba(47,83,100,1) 100%);
    background: linear-gradient(to bottom,  rgba(28,37,44,1) 0%,rgba(47,83,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c252c', endColorstr='#2f5364',GradientType=0 );
}

#Navigation > ul > li > ul {
    top: 27px;
}
