/*******************************************************************************
Slate Theme adapations for OTRS
by Marc Bonsels
*******************************************************************************/

h1, h2, h3, h4, h5 {
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans', 'Calibri', sans-serif;
}

#main_content a {
	color: #3898C4;
}

#main_content a:hover {
	color: #2A5465 !important;
	text-shadow: none !important;
	border-bottom: 1px solid #B93046;
}

#forkme_banner {
	font-size: 13px;
	padding-left: 20px;
	font-family: 'Open Sans', 'Calibri', sans-serif !important;
	box-shadow: none;
	background-color: #C12F46;
	position: static;
	width: 160px;
	margin: 0px auto;
	padding: 30px 0px 10px 0px;
	text-align: center;
	background-position: center top;
	font-weight: normal;
}

#header_wrap {
	background: #fff;
}

#header_wrap header h1,
#header_wrap header h2 {
	color: #000;
	text-shadow: none;
	text-align: center;
	font-size: 20px;
}

#header_wrap header h1 {
	margin-top: 10px;
}

#header_wrap header h2 {
	margin-top: 0px;
}

#logo {
	text-indent: -9999px;
	display: block;
	height: 62px;
	background: url(../images/Logo.png) no-repeat center;
	margin-bottom: 20px;
}

#main_content_wrap {
	border-top: 10px solid #47AEDE;
	background: #fff;
}

#footer_wrap {
	background: #2E3032;
}

#footer_wrap * {
	color: #fff !important;
	text-align: center;
}
