h1.page-title {
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

h2.page-title {
    font-size: 24px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.page-title ~ section {
    width: 65%;
    float: left;
}

#main + nav {
    background-color: #eee;
    float: right;
    margin: 0px 0px 10px 20px;
    overflow: hidden;
    width: 25%;
    padding: 15px;
}

#main + nav > ul {
    list-style-type: square;
    padding: 0px 10px;
}

#main + nav > ul li a {
    font-size: 11px;
}

#main + nav > h3 {
    margin-top: 20px;
    font-weight: bold;
}

#main + nav > h2 {
    background-color: #ddd;
    font-size: 12px;
    line-height: 160%;
    display: block;
    padding: 5px 10px;
    margin: -15px;
    font-weight: bold;
}

section article .subsection-title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0px 5px 0px;
}

section article dl h5 {
    font-weight: bold;
    margin-top: 10px;
}

section article h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

section article h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
}

section article p {
    margin-bottom: 5px;
}

section article > dl > dd {
    background: none repeat scroll 0 0 #eee;
    margin: 10px 0 10px 20px;
    padding: 10px;
}

section header {
    margin: 15px 0px;
}

section header * {
    font-weight: bold;
}

section article .container-overview {
    border: 1px solid #ccc;
    padding: 10px;
}

dt.tag-source,
dt.tag-author {
    font-weight: bold;
    margin-top: 15px;
}

dd.tag-source a,
dt a,
section header a {
    color: #3886ce;
    text-decoration: underline;
}

section article dd:empty {
    display: none;
}

section article h4.name {
    font-family: monospace !important;
    font-size: 15px;
    margin-top: 15px;
}

section article h4.name span.type-signature {
    color: #777;
}

section article dl code {
    font-family: monospace;
}

section article table {
    min-width: 400px;
    background: #ddd;
}

section article table th,
section article table td {
    border: 1px solid #ccc;
    padding: 3px 7px;
}

section article table th {
    font-weight: bold;
}

.prettyprint {
    overflow: auto;
}

.prettyprint code {
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    color: #000;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
